# Editors.
*.sw*

#.vscode
.DS_Store
bazel-*

# Build directory.
build/
out/
cmake-build-debug/

#cmake
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
Makefile
bin/

#clangd
.cache/
#compile_commands.json

# results files
persister*
snap_shot*
mr-out-*
*.so

# executables
./src/map_reduce/main/mrworker
mrworker
mrcoordinator
raft
kv_raft_server
kv_raft_client
shard_kv_server_a
shard_kv_server_b
shard_kv_client_a
shard_kv_client_b
shard_kv_test_a 
shard_kv_test_b